/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 3vw; /* Adjust the width based on the viewport width */
  aspect-ratio: 36/30;
  left: 3vw;
  top: 3vh;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .bm-burger-button {
    width: 8vw; /* Adjust the width for smaller screens */
    left: 2vw; /* Adjust the position as needed */
    top: 2vh; /* Adjust the position as needed */
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.paddingBottom{
  padding-bottom: 3px;
}

.logoCopy{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.logoText{
  position: absolute;
  bottom: 45px;
  left: 100px;
}

.Loop{
  animation: bgColor 8s infinite linear;
}
@keyframes bgColor {
  12.5% {
    color: red;
  }
  25% {
    color: orange;
  }
  37.5% {
    color: yellow;
  }
  50% {
    color: green;
  }
  62.5% {
    color: lightblue;

  }
  75% {
    color: blue;

  }
  87.5% {
    color: blueviolet;
  }

  100% {
    color: magenta;
  }
}